<launch>
  <node name="face_uniform" pkg="hearts_face_uniform" type="face_uniform" />
  <node name="welcome_visitor_controller" pkg="tbm2_welcoming_visitors" type="welcome_visitor_controller.py" />
  <!-- <include file="$(find roah_devices)/launch/run_real.launch" /> -->
  <node name="location_goal" pkg="hearts_navigation" type="location_goal.py" />
  <node name="nav_goal_pub" pkg="hearts_navigation" type="navigator.py" />
  <node name="sound_player" pkg="hearts_tts" type="sound_player.py" />
  <!-- <node name="bristol_camera" pkg="bristol_camera" type="camera.bash" />-->
  <node pkg="roah_rsbb_comm_ros" type="comm" name="roah_rsbb_comm" respawn="true">
    <param name="team_name" type="string" value="Hearts"/>
    <param name="robot_name" type="string" value="Tiago"/>
    <param name="rsbb_key" type="string" value="FJnz6hJX"/>
    <param name="rsbb_host" type="string" value="192.168.1.69" />
  </node>

</launch>
