<launch>
  <arg name="data_path" default="/home/turtlebot/tb_ws/src/brl-hearts/hearts_face_uniform/data/" />
  <arg name="face_cascade_path" default="/home/turtlebot/tb_ws/src/brl-hearts/hearts_face_uniform/src/haarcascade_frontalface_alt2.xml" />
  <param name="data_path" value="$(arg data_path)" />
  <param name="face_cascade_path" value="$(arg face_cascade_path)" />  
  <node name="hearts_face_uniform" pkg="hearts_face_uniform" type="hearts_face_uniform" output="screen" />
  <!-- BRL IP camera setup -->
  <!-- <remap from="/ipcam/front_door/snapshot" to="/roah_ipcam/image"/> -->
  <!-- <include file="$(find brl_ipcam)/launch/brl_ipcam.launch" /> -->
  <!-- PAL Robotics IP camera setup -->
  <!-- <include file="$(find roah_ipcam)/launch/roah_ipcam.launch">
    <arg name="ip" value="192.168.1.90"/>
    <arg name="user" value="hearts"/>
    <arg name="password" value="hearts_erl_2_pal"/>
  </include> -->
  <!-- Heriot-Watt IP camera setup -->
  <!-- <node name="republisher" pkg="image_transport" type="republish" respawn="true"
        args="compressed in:=/image raw out:=/roah_ipcam/image"/> -->
  <!-- <remap from="/image_raw/compressed" to="/roah_ipcam/image/compressed"/> -->
  <!-- <node name="republisher" pkg="image_transport" type="republish"
        args="compressed in:=/roah_ipcam/image raw out:=/roah_ipcam/image"
        /> -->
  <node name="axis_driver" pkg="axis_camera" type="axis.py">
    <param name="hostname" value="10.2.0.107" />
    <param name="username" value="HEARTS" />
    <param name="password" value="erlhw-3" />
  </node> 
</launch>
