<launch>
    <arg name="map_name" default="map_test" />
    <arg name="locations_json" default="$(find hearts_navigation)/data/locations_test.json" />
    <param name="locations_json" value="$(arg locations_json)" />
    <node name="localization" pkg="hearts_navigation" type="localization.bash" args="$(arg map_name)" output="screen" />
    <!-- <node name="hearts_avoider" pkg="hearts_navigation" type="avoider.py" output="screen" /> -->
    <node name="hearts_navigator" pkg="hearts_navigation" type="navigator.py" output="screen" />
    <node name="hearts_location_goal" pkg="hearts_navigation" type="location_goal.py" output="screen" />
    <include file="$(find hearts_navigation)/launch/logger.launch">
         <arg name="o" value="/tmp/hearts_navigation_log.bag" />
    </include>
</launch>
